<!DOCTYPE html>
<html>
<head><title>Admin Page</title></head>
<body>
  <h2>📋 Daftar Semua Short URL</h2>
  <table border="1" cellpadding="5">
    <tr>
      <th>Shortcode</th>
      <th>Long URL</th>
      <th>Aksi</th>
    </tr>
    {% for row in data %}
  <tr>
    <td>{{ row.code }}</td>
    <td>{{ row.long_url }}</td>
    <td>
      <a href="/edit/{{ row.code }}">Edit</a> |
      <a href="/delete/{{ row.code }}">Delete</a>
    </td>
  </tr>
{% endfor %}

  </table>
  <br>
  <a href="/">← Kembali ke halaman utama</a>
</body>
</html>
